body{
    overflow-x: hidden;
    background-color: #ececec;
}

.calc{
    background-color: #ececec;
    border-radius: 0.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col{
    padding: 0;
}

.txt{
    display: flex;
    justify-content: center;
}

#titulo{
    color: lightcoral;
    opacity: 0.8;
}

#inputcalc{
    width: 100%;
    border:none;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    background-color: #ececec;
    height: 3em;
}

#inputcalc:focus{
    outline:none;
}

.btnc{
    padding: 30px 35px 30px 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    font-weight: bold;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12);
    border-radius: 50%;
    border: 1.5px solid #ececec;
    color: gray;
    font-size: 1.2em;
}

.btnc:hover{
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.12),
    inset -8px -8px 10px rgba(255,255,255,0.5),
    inset 8px 8px 10px rgba(70,70,70,0.12);
    color: lightcoral;
    cursor: pointer;
}

.btnc:focus{
    outline:none;
}

::placeholder{
    padding-left: 1em;
    color: lightcoral;
    opacity: 0.8;
    font-weight: 350;
}